{% extends 'base.jinja2' %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">

                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">Главная</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Блог</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Cards Cards_blog">
                    {% for discount in discounts %}
                        {% if discount.is_active %}
                            <div class="Card"><a class="Card-picture" href="#"><img src="{{ static('img/content/sale/product.png')}}" alt="product.png" /></a>
                                <div class="Card-date">
                                    <strong class="Card-date-number">{{ discount.start_date.day }}
                                    </strong><span class="Card-date-month">{{ discount.start_date.strftime('%B')[:3] }}</span>
                                </div>
                                <div class="Card-date Card-date_to">
                                    <strong class="Card-date-number">{{ discount.end_date.day }}
                                    </strong><span class="Card-date-month">{{ discount.end_date.strftime('%B')[:3] }}</span>
                                </div>
                                <div class="Card-content">
                                    <strong class="Card-title"><a href="#">{{ discount }}</a>
                                    </strong>
                                    <div class="Card-description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincid unt ut laoreet dolore
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="Pagination">
    <div class="Pagination-ins">
        {% for p in paginator.page_range %}
           {% if page_obj.number == p %}
                <a class="Pagination-element Pagination-element_current" href="#"><span class="Pagination-text">{{ p }}</span></a>
           {% else %}
                <a class="Pagination-element" href="?page={{ p }}"><span class="Pagination-text">{{ p }}</span></a>
           {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
