{% extends 'base.jinja2' %}

{% block content %}
    <body class="Site">
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="Card-date">
                <strong class="Card-date-number">{{ discount_cart.start_date.day }}
                </strong><span class="Card-date-month">{{ discount_cart.start_date.strftime('%B')[:3] }}</span>
            </div>
            <div class="Card-date Card-date_to">
                <strong class="Card-date-number">{{ discount_cart.end_date.day }}
                </strong><span class="Card-date-month">{{ discount_cart.end_date.strftime('%B')[:3] }}</span>
            </div>
            <br>
            <br>
            <br>
            <div class="wrap">
                <div class="Product">
                    <div>
                        <h1>{{ discount_cart.name }}</h1>
                    </div>

                    <div class="product-images">
                        <img src="{{ static('img/content/sale/cart.png') }}" alt="{{ _('Изображение товара') }}">
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link" href="#description">
                                <span>{{ _('Описание') }}</span>
                            </a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                <h3>{{ _('Событие') }}: {{ discount_cart.name }}</h3>
                                <h3>{{ _('Процент скидки') }}: {{ discount_cart.percentage }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
