{% extends 'orders/order.jinja2' %}
{% block step_list %}
  <li class="menu-item_ACTIVE menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 1. Параметры пользователя') }}</a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 2. Способ доставки')}}</a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 3. Способ оплаты') }}</a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 4. Подтверждение заказа') }}</a>
  </li>
{% endblock %}

{% block step_form %}
  <form class="form" action="" method="post">{% csrf_token %}
    <div class="Order-block Order-block_OPEN" id="step1">
      <header class="Section-header Section-header_sm">
        <h2 class="Section-title">{{ _('Шаг 1. Параметры пользователя') }}</h2>
      </header>
      <div class="row">
        <div class="row-block">
          <div class="form-group">
            <label class="form-label" for="name">{{ _('ФИО') }}
              <input class="form-input" id="name" name="full_name" type="text"
                     value="{% if request.user.is_authenticated %}{{ request.user.full_name }}{% endif %}"
                     {% if request.user.is_authenticated %}readonly{% endif %}>
              <div style="color: red;">{{ form.full_name.errors }}</div>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label" for="phone">{{ _('Телефон') }}
              <input class="form-input" id="phone" name="phone_number" type="tel"
                     value="{% if request.user.is_authenticated %}{{ request.user.phone_number}}{% endif %}"
                     {% if request.user.is_authenticated %}readonly{% endif %} placeholder="+7 (___) ___ - __ - __">
              <div style="color: red;">{{ form.phone_number.errors }}</div>
            </label>
          </div>
          <div class="form-group">
            <label class="form-label" for="mail">{{ _('E-mail') }}
              <input class="form-input" id="mail" name="email" type="text"
                     value="{% if request.user.is_authenticated %}{{ request.user.email}}{% endif %}"
                     {% if request.user.is_authenticated %}readonly{% endif %}>
              <div style="color: red;">{{ form.email.errors }}</div>
            </label>
          </div>
        </div>
        <div class="row-block">
          {% if request.user.is_authenticated %}
            <div class="form-group" style="display: none;">
              <label class="form-label" for="password">{{ _('Пароль') }}
              </label>
              <input class="form-input" id="password1" name="password" type="password" placeholder="{{ _('Тут можно изменить пароль') }}"/>

            </div>
            <div class="form-group" style="display: none;">
              <label class="form-label" for="passwordReply">{{ _('Подтверждение пароля') }}
              </label>
              <input class="form-input" id="passwordReply" name="password2" type="password" placeholder="{{ _('Введите пароль повторно') }}"/>
              <div class="form-input_error">{{ form.password2.errors }}</div>
            </div>
            <div class="form-group" style="display: none;">
              <a class="btn btn_muted Order-btnReg" href="#">{{ _('Я уже зарегистрирован') }}</a>
            </div>
          {% else %}
            <div class="form-group">
              <label class="form-label" for="password">{{ _('Пароль') }}
                <input class="form-input" id="password" name="password1" type="password" placeholder="{{ _('Введите пароль') }}"/>
                <div style="color: red;">{{ form.password1.errors }}</div>
              </label>
            </div>
            <div class="form-group">
              <label class="form-label" for="passwordReply">{{ _('Подтверждение пароля') }}
                <input class="form-input" id="passwordReply" name="password2" type="password" placeholder="{{ _('Введите пароль повторно') }}"/>
                <div style="color: red;">{{ form.password2.errors }}</div>
              </label>
            </div>
            <div class="form-group">
              <a class="btn btn_muted Order-btnReg" href="{{ url('accounts:login')}}?next={{ url('orders:order-step-1')}}">{{ _('Я уже зарегистрирован') }}</a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="Order-footer">
        <button class="btn btn_success" type="submit">{{ _('Дальше') }}</button>
      </div>
    </div>
  </form>
{% endblock %}
