{% extends 'orders/order.jinja2' %}
{% block step_list %}
  <li class="menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 1. Параметры пользователя') }}</a>
  </li>
  <li class="menu-item_ACTIVE menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 2. Способ доставки') }}</a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 3. Способ оплаты') }}</a>
  </li>
  <li class="menu-item">
    <a class="menu-link" href="#">{{ _('Шаг 4. Подтверждение заказа') }}</a>
  </li>
{% endblock %}

{% block step_form %}
  <form class="form" action="" method="post">{% csrf_token %}
    <div class="Order-block Order-block_OPEN" id="step2">
      <header class="Section-header Section-header_sm">
        <h2 class="Section-title">{{ _('Шаг 2. Способ доставки') }}
        </h2>
      </header>
      <div class="form-group">
        {{ form.delivery_type }}
      </div>
      <div class="form-group">
        <label class="form-label" for="city">{{ _('Город') }}
          {{ form.city }}
        </label>
      </div>
      <div class="form-group">
        <label class="form-label" for="address">{{ _('Адрес') }}
          {{ form.address }}
        </label>
      </div>
      <div class="Order-footer">
        <button class="btn btn_success" type="submit">{{ _('Дальше') }}</button>
      </div>
    </div>
  </form>
{% endblock %}
