{% extends 'base.jinja2' %}

{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{{ _('Заказ') }} №{{ order.pk }}
                </h1>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <div class="Section-content">
                <div class="Orders">
                </div>
                <div class="Order">
                    <div class="Order-infoBlock">
                        <div class="Order-personal">
                            <div class="row">
                                <div class="row-block">
                                    <div class="Order-info Order-info_date">
                                        <div class="Order-infoType">{{ _('Дата заказа') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.created_at.strftime('%d.%m.%y')}}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{{ _('ФИО') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.full_name }}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{{ _('Телефон') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.phone_number }}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{{ _('E-mail') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">{{ _('Тип доставки') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.delivery_type }}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{{ _('Город') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.city }}
                                        </div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{{ _('Адрес') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.address }}
                                        </div>
                                    </div>
                                    <div class="Order-info Order-info_pay">
                                        <div class="Order-infoType">{{ _('Оплата') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.payment_type }}
                                        </div>
                                    </div>
                                    {% if order.status == "paid" %}
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType">{{ _('Статус') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.status }}
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType">{{ _('Статус') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ order.status }}
                                        </div>
                                    </div>
                                    <div class="Order-info Order-info_error">
                                        <div class="Order-infoType">{{ _('Оплата не прошла') }}:
                                        </div>
                                        <div class="Order-infoContent">{{ _('Оплата не выполнена') }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="Cart Cart_order">
                            {% for item in order.items.all() %}
                            <div class="Cart-product">
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_pict"><a class="Cart-pict"
                                                                               href="{{ url('products:product-detail', pk=item.offer.product.pk) }}"><img
                                            class="Cart-img"
                                            src="{{ item.offer.product.product_images.first().image.url }}" alt=""/></a>
                                    </div>
                                    <div class="Cart-block Cart-block_info"><a class="Cart-title"
                                                                               href="{{ url('products:product-detail', pk=item.offer.product.pk) }}">{{
                                        item.offer.product }}</a>
                                        <div class="Cart-desc">{{ item.offer.product.description }}
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_price">
                                        <div class="Cart-price">{{ item.price }}$
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_row">

                                    <div class="Cart-block Cart-block_amount">{{ item.quantity }} шт.
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% if order.status == "created" %}
                            <div class="Cart-total">
                                <div class="Cart-block Cart-block_total">
                                    <strong class="Cart-title">{{ _('Итого') }}:<span class="Cart-price">{{ order.total_price }}$</span>
                                    </strong>
                                </div>
                                <div class="Cart-block"><a class="btn btn_primary btn_lg"
                                                           href="{{ url('payment:payment_with_card') }}?order={{ order.pk }}&total_price={{ order.total_price }}">{{
                                    _('Оплатить') }}</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
