<div class="Tabs-block" id="details">
    {% if product_details %}
        <div class="Product-props">
            {% for detail in product_details %}
                <div class="Product-prop">
                    <strong>{{ detail.detail }}</strong>
                    <span>{{ detail.value }}</span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>{{ _('У товара пока не занесены характеристики') }}!</h3>
    {% endif %}
</div>
