{% extends 'base.jinja2' %}

{% block content %}
    <body class="Site">
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <h1>{{ product.name }}</h1>

                    <div>
                        <button type="submit">Купить</button>
                    </div>

                    <div class="product-images">
                        {% if images %}
                            <div class="Slider Slider_main">
                                <div class="Slider-box">
                                    {% for image in images %}
                                        <div class="Slider-item">
                                            <div class="Slider-content Profile-img">
                                                <img src="{{ image.image.url }}" alt="Изображение товара">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="Slider-navigateWrap">
                                    <div class="Slider-navigate"></div>
                                </div>
                            </div>
                        {% else %}
                            <h3>У товара пока нет фотографий!</h3>
                        {% endif %}
                    </div>

                    <div class="product-details">
                        {% if product_details %}
                            {% for detail in product_details %}
                                <h4>{{ detail.detail }}:</h4>
                                <p>{{ detail.value }}</p>
                            {% endfor %}
                        {% else %}
                            <h3>У товара пока не занесены характеристики!</h3>
                        {% endif %}
                    </div>

                    <div class="offers">
                        <h3>Предложения:</h3>
                        {% if offers %}
                            {% for offer in offers %}
                                <div>
                                    <img src='{{ offer.shop.image.url }}' alt='Изображение магазина'>
                                    <h4>Магазин: {{ offer.shop }}</h4>
                                    <p>Цена: {{ offer.price }}</p>
                                    <b>Товаров осталось: {{ offer.remains }}</b>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3>Пока нет предложений от продавцов!</h3>
                        {% endif %}
                    </div>

                    <div class="Tabs Tabs_default">
                        {% include "products/reviews.jinja2" %}
                    </div>

                    <div class="discounts">
                        <h3>Скидки:</h3>
                    </div>

                    <div>
                        <button type="submit">Купить</button>
                    </div>

                    <div>
                        {% include 'products/seen-products.jinja2' %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>
{% endblock %}
