{% extends 'base.jinja2' %}

{% block content %}
    <body class="Site">
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <h1>{{ product.name }}</h1>

                    <div class="product-images">
                        {% if images %}
                            <div class="Slider Slider_main">
                                <div class="Slider-box">
                                    {% for image in images %}
                                        <div class="Slider-item">
                                            <div class="Slider-content Profile-img">
                                                <img src="{{ image.image.url }}" alt="Изображение товара">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="Slider-navigateWrap">
                                    <div class="Slider-navigate"></div>
                                </div>
                            </div>
                        {% else %}
                            <h3>У товара пока нет фотографий!</h3>
                        {% endif %}
                    </div>

                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link" href="#description">
                                <span>Описание</span>
                            </a>
                            <a class="Tabs-link" href="#offers">
                                <span>Предложения</span>
                            </a>
                            <a class="Tabs-link" href="#details">
                                <span>Характеристики</span>
                            </a>
                            <a class="Tabs-link" href="#reviews">
                                <span>Отзывы ({{ reviews_count }})</span>
                            </a>
                        </div>
                        <div class="Tabs-wrap">
                            <div class="Tabs-block" id="description">
                                {{ product.description }}
                            </div>
                            {% include "products/offers.jinja2" %}
                            {% include "products/details.jinja2" %}
                            {% include "products/reviews.jinja2" %}
                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {% if is_product_in_comparison %}
                            <input type="hidden" name="action" value="remove_from_comparison">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit">Удалить из списка сравнения</button>
                        {% else %}
                            <input type="hidden" name="action" value="add_to_comparison">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit">Добавить в список сравнения</button>
                        {% endif %}
                    </form>

                    <div class="discounts">
                        <h3>Скидки:</h3>
                    </div>

                    <div>
                        {% include 'products/seen-products.jinja2' %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>
{% endblock %}
