<footer class="Footer">
    <div class="wrap">
        <div class="row Footer-main">
            <div class="row-block"><a class="logo Footer-logo" href="#"><img class="logo-image" src="{{ static('img/logo_footer.png') }}" alt="logo_footer.png" /></a>
            </div>
            <div class="row-block">
                <strong class="Footer-title">{{ _('Навигация') }}
                </strong>
                <ul class="menu menu_vt Footer-menu">
                    <li class="menu-item"><a class="menu-link" href="{{ url('shops:home') }}">{{ _('Главная') }}</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="{{ url('products:product-list') }}?o=avg_price">{{ _('Каталог') }}</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#">{{ _('Сравнение') }}</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#">{{ _('Профиль') }}</a>
                    </li>

                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">{{ _('Контакты') }}
                </strong>
                <p>{{ _('Телефон') }}: 8.800.200.600<br>Email: xxx@example.com<br>
                </p>
                <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                    <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/fb.svg') }}" alt="fb.svg" /></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/tw.svg') }}" alt="tw.svg" /></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/in.svg') }}" alt="in.svg" /></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/pt.svg') }}" alt="pt.svg" /></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img src="{{ static('img/icons/socialFooter/mail.s') }}vg" alt="mail.svg" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
