{% extends 'base.jinja2' %}

{% block content %}
    <body class="Site">
        <div class="settings">
            <h3>{{ _('Настройка сайта') }}:</h3>
            <form method="post" action="{{ url('settings:site-settings') }}">
                {% csrf_token %}
                {% for key, value in settings_dict.items() %}
                    <div>
                        <label>{{ key }}:</label>
                        {% if "Integer" in value[1] or "Decimal" in value[1] %}
                            {% set type = "number" %}
                        {% elif "Boolean" in value[1] %}
                            {% set type = "checkbox" %}
                            {% if value[0] == True %}
                                {% set checked_flag = "checked" %}
                            {% endif %}
                        {% else %}
                            {% set type = "text" %}
                        {% endif %}
                        <input type={{ type }} name="{{ key }}" value="{{ value[0] }}"
                               {% if checked_flag %}checked={{ checked_flag }}{% endif %}>
                    </div>
                {% endfor %}
                <input type="hidden" name="submit_settings">
                <button type="submit">{{ _('Сохранить изменения') }}</button>
            </form>
        </div>
        <div class="cache">
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="clear_all_cache" value="True">
                <button type="submit">{{ _('Сбросить кэш всего сайта') }}</button>
            </form>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="clear_product_detail_cache" value="True">
                <button type="submit">{{ _('Сбросить кэш детальных страниц продуктов') }}</button>
            </form>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="clear_product_list_cache" value="True">
                <button type="submit">{{ _('Сбросить кэш страницы списка продуктов') }}</button>
            </form>
        </div>
    </body>
{% endblock %}
