{% extends 'base.jinja2' %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                {% include "navigation.jinja2" %}
                <div class="Section-content">
                    <div class="Account">
                        <div class="Account-group">
                            <div class="Account-column">
                                {% if request.user.avatar %}
                                    <div class="Account-avatar"><img src="{{ request.user.avatar.url }}" alt="card.jpg">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="Account-column">
                                <div class="Account-name">{{ request.user.full_name }}
                                </div>
                                <a class="Account-editLink" href="{{ url('accounts:profile') }}">{{ _('Редактировать
                                 профиль') }}</a>
                            </div>
                        </div>
                        <div class="Account-group">
                            <div class="Account-column Account-column_full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
