{% extends "base.jinja2" %}
{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
            <h3 class="sign-in">{{ _('Восстановление пароля ') }}</h3>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-content">
                <div class="Profile">
                    <div class="row">
                        <div class="row-block">
                            <h1 class="form-label">{{ _('Пароль был изменен!') }}</h1>
                        </div>
                        <div class="row-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
