{% extends "base.jinja2" %}
{% block content %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
            <h3 class="sign-in">{{ _('Восстановление пароля (2/2)') }}</h3>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-content">
                <div class="Profile">
                    <div class="row">
                        <div class="row-block">
                            <p class="form-label">{{ _('Мы отправили вам письмо на email с инструкциями.
                            Если они не пришли через несколько минут, проверьте папку со спамом.') }}</p>
                        </div>
                        <div class="row-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
