{% extends "base.jinja2" %}
{% block content %}
<div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">{{ _('Восстановление пароля (1/2)') }}</h3>
                <h5>{{ _('Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись') }}</h5>
            </div>
            <form class="form Profile-form" action="" method="post">
                <div class="row">
                    <div class="row-block">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors() %}
                                <div class="form-error">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label class="form-label" for="{{ form.email.id_for_email }}">{{ _('E-mail') }}
                            </label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="form-error">{{ error|escape }}</div>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="Profile-btn">
                            <button class="btn btn_success" type="submit">{{ _('Сбросить') }}
                            </button>
                        </div>
                    </div>
                    <a class="registr" href="{{ url('accounts:login') }}">
                        {{ _('Вход') }}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
